In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv('C:/Users/Vijay/OneDrive/Documents/Others/ODI-BBB/odi_refined_data.csv')

C:\Users\Vijay\AppData\Local\Temp\ipykernel_20428\2684055290.py:1: DtypeWarning: Columns (41,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset=pd.read_csv('C:/Users/Vijay/OneDrive/Documents/Others/ODI-BBB/odi_refined_data.csv')

In [3]:
dataset

,Unnamed: 0,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,...,wagonX,wagonY,wagonZone,line,length,shot,control,predscore,wprob,who_out?
0,0,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,1,...,0,0,0,NaN,NaN,NO_SHOT,1.0,-1,-1.00,NaN
1,1,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,2,...,219,190,3,NaN,NaN,FORWARD_DEFENCE,1.0,-1,-1.00,NaN
2,2,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,3,...,0,0,0,NaN,NaN,NO_SHOT,1.0,-1,-1.00,NaN
3,3,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,4,...,228,198,3,NaN,NaN,OFF_SIDE_DRIVE_ON_FRONT_FOOT,1.0,-1,-1.00,NaN
4,4,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,3,...,212,179,3,NaN,NaN,BACK_DEFENCE,1.0,-1,-1.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322268,1322268,1412540,2,Janith Liyanage,681681,Sri Lanka,Ryan Burl,495964,Zimbabwe,5,...,0,0,0,DOWN_LEG,GOOD_LENGTH,LEG_GLANCE,NaN,216,59.63,NaN
1322269,1322269,1412540,2,Janith Liyanage,681681,Sri Lanka,Ryan Burl,495964,Zimbabwe,6,...,222,320,4,OUTSIDE_OFFSTUMP,GOOD_LENGTH,ON_DRIVE,1.0,218,63.29,NaN
1322270,1322270,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,2,...,6,259,6,WIDE_OUTSIDE_OFFSTUMP,FULL_TOSS,COVER_DRIVE,1.0,208,45.23,NaN
1322271,1322271,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,3,...,37,196,6,OUTSIDE_OFFSTUMP,GOOD_LENGTH,COVER_DRIVE,1.0,210,49.34,NaN
1322272,1322272,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,7,...,309,127,2,ON_THE_STUMPS,GOOD_LENGTH,FLICK,1.0,220,66.75,NaN

In [4]:
dataset['dismissal'].value_counts()

caught                    21472
bowled                     6792
leg before wicket          4100
run out                    2712
stumped                     913
retired not out (hurt)       45
hit wicket                   33
obstructing the field         6
not out                       5
handled the ball              1
Name: dismissal, dtype: int64

In [5]:
dataset['1s']=dataset['batruns'].apply(lambda x: 1 if x==1 else 0)
dataset['2s']=dataset['batruns'].apply(lambda x: 1 if x==2 else 0)
dataset['3s']=dataset['batruns'].apply(lambda x: 1 if x==3 else 0)
dataset['4s']=dataset['batruns'].apply(lambda x: 1 if x==4 else 0)
dataset['5s']=dataset['batruns'].apply(lambda x: 1 if x==5 else 0)
dataset['6s']=dataset['batruns'].apply(lambda x: 1 if x==6 else 0)
dataset['dots']=0
dataset.loc[(dataset['batruns']==0) & (dataset['ballfaced'])==1,'dots']=1

In [6]:
wickets_earned=['caught','bowled','leg before wicket','stumped','hit wicket']

In [7]:
dataset.columns

Index(['Unnamed: 0', 'p_match', 'inns', 'bat', 'p_bat', 'team_bat', 'bowl',
       'p_bowl', 'team_bowl', 'ball', 'ball_id', 'outcome', 'score', 'out',
       'dismissal', 'p_out', 'over', 'noball', 'wide', 'byes', 'legbyes',
       'cur_bat_runs', 'cur_bat_bf', 'cur_bowl_ovr', 'cur_bowl_wkts',
       'cur_bowl_runs', 'inns_runs', 'inns_wkts', 'inns_balls',
       'inns_runs_rem', 'inns_balls_rem', 'inns_rr', 'inns_rrr', 'target',
       'max_balls', 'date', 'year', 'ground', 'country', 'winner', 'toss',
       'competition', 'bat_hand', 'bowl_style', 'bowl_kind', 'batruns',
       'ballfaced', 'bowlruns', 'bat_out', 'wagonX', 'wagonY', 'wagonZone',
       'line', 'length', 'shot', 'control', 'predscore', 'wprob', 'who_out?',
       '1s', '2s', '3s', '4s', '5s', '6s', 'dots'],
      dtype='object')

In [8]:
aggfunc={
    'inns_runs':'max',
    'inns_wkts':'max',
    'inns_balls':'max'
}

In [9]:
oditotals=dataset.groupby(['date','inns','team_bat']).agg(aggfunc).reset_index()

In [10]:
oditotals

            date  inns     team_bat  inns_runs  inns_wkts  inns_balls
0     2005-01-10     1     World-XI        344          8         300
1     2005-01-10     2      Asia XI        232         10         239
2     2005-01-14     1    Australia        301          4         300
3     2005-01-14     2  West Indies        185         10         278
4     2005-01-16     1     Pakistan        272          7         300
...          ...   ...          ...        ...        ...         ...
4894  2024-03-18     2   Bangladesh        237          6         242
4895  2024-07-16     1         Oman        123         10         228
4896  2024-07-16     2     Scotland         99          2          74
4897  2024-07-18     1         Oman        233          8         300
4898  2024-07-18     2      Namibia        234          4         287

[4899 rows x 6 columns]

In [11]:
dataset

,Unnamed: 0,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,...,predscore,wprob,who_out?,1s,2s,3s,4s,5s,6s,dots
0,0,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,1,...,-1,-1.00,NaN,0,0,0,0,0,0,1
1,1,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,2,...,-1,-1.00,NaN,0,0,0,0,0,0,1
2,2,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,3,...,-1,-1.00,NaN,0,0,0,0,0,0,0
3,3,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,4,...,-1,-1.00,NaN,1,0,0,0,0,0,0
4,4,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,3,...,-1,-1.00,NaN,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322268,1322268,1412540,2,Janith Liyanage,681681,Sri Lanka,Ryan Burl,495964,Zimbabwe,5,...,216,59.63,NaN,0,0,0,0,0,0,0
1322269,1322269,1412540,2,Janith Liyanage,681681,Sri Lanka,Ryan Burl,495964,Zimbabwe,6,...,218,63.29,NaN,1,0,0,0,0,0,0
1322270,1322270,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,2,...,208,45.23,NaN,0,0,0,1,0,0,0
1322271,1322271,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,3,...,210,49.34,NaN,1,0,0,0,0,0,0
1322272,1322272,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,7,...,220,66.75,NaN,0,1,0,0,0,0,0

In [12]:
comes={
    'batruns':'sum',
    'ballfaced':'sum',
    'ball_id':'min',
    'dots':'sum',
    '1s':'sum',
    '2s':'sum',
    '3s':'sum',
    '4s':'sum',
    '5s':'sum',
    '6s':'sum'
}
entry=dataset.groupby(['date','inns','team_bat','bat']).agg(comes).reset_index()

In [13]:
entry

,date,inns,team_bat,bat,batruns,ballfaced,ball_id,dots,1s,2s,3s,4s,5s,6s
0,2005-01-10,1,World-XI,Adam Gilchrist,24,20,0.06,11,4,1,0,3,0,1
1,2005-01-10,1,World-XI,Brian Lara,52,77,9.03,45,21,5,3,3,0,0
2,2005-01-10,1,World-XI,Chris Cairns,69,47,30.03,15,16,7,1,6,0,2
3,2005-01-10,1,World-XI,Chris Gayle,1,9,0.01,8,1,0,0,0,0,0
4,2005-01-10,1,World-XI,Daniel Vettori,27,17,43.05,2,7,6,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43325,2024-07-18,2,Namibia,JJ Smit,44,37,35.06,16,14,1,0,4,0,2
43326,2024-07-18,2,Namibia,JP Kotze,16,17,41.06,7,8,1,0,0,0,1
43327,2024-07-18,2,Namibia,Jan Frylinck,73,81,15.02,35,35,3,0,8,0,0
43328,2024-07-18,2,Namibia,Lo-handre Louwrens,29,65,0.03,47,13,2,0,3,0,0
43329,2024-07-18,2,Namibia,Michael van Lingen,30,41,0.01,22,14,2,0,3,0,0

In [14]:
goes={
    'batruns':'sum',
    'ballfaced':'sum',
    'ball_id':'max'
}
exit=dataset.groupby(['date','inns','team_bat','bat']).agg(goes).reset_index()

In [15]:
entry.rename(mapper={'ball_id':'entry_ball'},axis=1,inplace=True)

In [16]:
exit

,date,inns,team_bat,bat,batruns,ballfaced,ball_id
0,2005-01-10,1,World-XI,Adam Gilchrist,24,20,9.02
1,2005-01-10,1,World-XI,Brian Lara,52,77,30.01
2,2005-01-10,1,World-XI,Chris Cairns,69,47,41.06
3,2005-01-10,1,World-XI,Chris Gayle,1,9,1.04
4,2005-01-10,1,World-XI,Daniel Vettori,27,17,49.06
...,...,...,...,...,...,...,...
43325,2024-07-18,2,Namibia,JJ Smit,44,37,47.05
43326,2024-07-18,2,Namibia,JP Kotze,16,17,47.03
43327,2024-07-18,2,Namibia,Jan Frylinck,73,81,41.05
43328,2024-07-18,2,Namibia,Lo-handre Louwrens,29,65,21.02
43329,2024-07-18,2,Namibia,Michael van Lingen,30,41,14.06

In [17]:
exit.rename(mapper={'ball_id':'exit_ball'},axis=1,inplace=True)

In [18]:
entry

,date,inns,team_bat,bat,batruns,ballfaced,entry_ball,dots,1s,2s,3s,4s,5s,6s
0,2005-01-10,1,World-XI,Adam Gilchrist,24,20,0.06,11,4,1,0,3,0,1
1,2005-01-10,1,World-XI,Brian Lara,52,77,9.03,45,21,5,3,3,0,0
2,2005-01-10,1,World-XI,Chris Cairns,69,47,30.03,15,16,7,1,6,0,2
3,2005-01-10,1,World-XI,Chris Gayle,1,9,0.01,8,1,0,0,0,0,0
4,2005-01-10,1,World-XI,Daniel Vettori,27,17,43.05,2,7,6,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43325,2024-07-18,2,Namibia,JJ Smit,44,37,35.06,16,14,1,0,4,0,2
43326,2024-07-18,2,Namibia,JP Kotze,16,17,41.06,7,8,1,0,0,0,1
43327,2024-07-18,2,Namibia,Jan Frylinck,73,81,15.02,35,35,3,0,8,0,0
43328,2024-07-18,2,Namibia,Lo-handre Louwrens,29,65,0.03,47,13,2,0,3,0,0
43329,2024-07-18,2,Namibia,Michael van Lingen,30,41,0.01,22,14,2,0,3,0,0

In [19]:
arrivals_exits=pd.merge(entry,exit,on=['date','inns','team_bat','bat','batruns','ballfaced'],how='inner')

In [20]:
arrivals_exits

,date,inns,team_bat,bat,batruns,ballfaced,entry_ball,dots,1s,2s,3s,4s,5s,6s,exit_ball
0,2005-01-10,1,World-XI,Adam Gilchrist,24,20,0.06,11,4,1,0,3,0,1,9.02
1,2005-01-10,1,World-XI,Brian Lara,52,77,9.03,45,21,5,3,3,0,0,30.01
2,2005-01-10,1,World-XI,Chris Cairns,69,47,30.03,15,16,7,1,6,0,2,41.06
3,2005-01-10,1,World-XI,Chris Gayle,1,9,0.01,8,1,0,0,0,0,0,1.04
4,2005-01-10,1,World-XI,Daniel Vettori,27,17,43.05,2,7,6,0,2,0,0,49.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43325,2024-07-18,2,Namibia,JJ Smit,44,37,35.06,16,14,1,0,4,0,2,47.05
43326,2024-07-18,2,Namibia,JP Kotze,16,17,41.06,7,8,1,0,0,0,1,47.03
43327,2024-07-18,2,Namibia,Jan Frylinck,73,81,15.02,35,35,3,0,8,0,0,41.05
43328,2024-07-18,2,Namibia,Lo-handre Louwrens,29,65,0.03,47,13,2,0,3,0,0,21.02
43329,2024-07-18,2,Namibia,Michael van Lingen,30,41,0.01,22,14,2,0,3,0,0,14.06

In [21]:
profile=pd.merge(arrivals_exits,oditotals,on=['date','inns','team_bat'],how='inner')

In [22]:
profile.head(40)

,date,inns,team_bat,bat,batruns,ballfaced,entry_ball,dots,1s,2s,3s,4s,5s,6s,exit_ball,inns_runs,inns_wkts,inns_balls
0,2005-01-10,1,World-XI,Adam Gilchrist,24,20,0.06,11,4,1,0,3,0,1,9.02,344,8,300
1,2005-01-10,1,World-XI,Brian Lara,52,77,9.03,45,21,5,3,3,0,0,30.01,344,8,300
2,2005-01-10,1,World-XI,Chris Cairns,69,47,30.03,15,16,7,1,6,0,2,41.06,344,8,300
3,2005-01-10,1,World-XI,Chris Gayle,1,9,0.01,8,1,0,0,0,0,0,1.04,344,8,300
4,2005-01-10,1,World-XI,Daniel Vettori,27,17,43.05,2,7,6,0,2,0,0,49.06,344,8,300
5,2005-01-10,1,World-XI,Glenn McGrath,0,1,39.05,1,0,0,0,0,0,0,39.05,344,8,300
6,2005-01-10,1,World-XI,Matthew Hayden,2,5,42.04,4,0,1,0,0,0,0,43.04,344,8,300
7,2005-01-10,1,World-XI,Ricky Ponting,115,102,1.05,38,43,8,2,8,0,3,38.06,344,8,300
8,2005-01-10,1,World-XI,Shane Warne,2,2,49.03,0,2,0,0,0,0,0,49.05,344,8,300
9,2005-01-10,1,World-XI,Stephen Fleming,30,28,40.01,9,11,6,1,1,0,0,49.02,344,8,300
10,2005-01-10,2,Asia XI,Abdul Razzaq,11,11,28.04,6,1,2,2,0,0,0,31.01,232,10,239
11,2005-01-10,2,Asia XI,Anil Kumble,11,7,36.03,3,1,1,0,2,0,0,38.04,232,10,239
12,2005-01-10,2,Asia XI,Chaminda Vaas,7,12,31.02,5,7,0,0,0,0,0,35.04,232,10,239
13,2005-01-10,2,Asia XI,Kumar Sangakkara,24,24,20.06,10,10,1,0,3,0,0,28.03,232,10,239
14,2005-01-10,2,Asia XI,Mohammad Yousuf,4,5,19.06,2,2,1,0,0,0,0,20.05,232,10,239
15,2005-01-10,2,Asia XI,Muthiah Muralidaran,0,2,38.05,2,0,0,0,0,0,0,38.06,232,10,239
16,2005-01-10,2,Asia XI,Rahul Dravid,75,71,12.05,25,28,12,1,5,0,0,39.05,232,10,239
17,2005-01-10,2,Asia XI,Sanath Jayasuriya,28,29,0.01,12,11,3,1,2,0,0,9.03,232,10,239
18,2005-01-10,2,Asia XI,Sourav Ganguly,22,40,9.04,26,10,2,0,2,0,0,19.05,232,10,239
19,2005-01-10,2,Asia XI,Virender Sehwag,45,39,0.02,18,12,2,1,5,0,1,12.02,232,10,239
20,2005-01-14,1,Australia,Adam Gilchrist,0,7,0.01,7,0,0,0,0,0,0,2.01,301,4,300
21,2005-01-14,1,Australia,Andrew Symonds,20,21,39.04,7,10,3,0,1,0,0,45.06,301,4,300
22,2005-01-14,1,Australia,Damien Martyn,95,94,22.05,35,41,9,2,6,0,1,49.04,301,4,300
23,2005-01-14,1,Australia,Darren Lehmann,20,14,46.01,4,4,4,0,2,0,0,49.07,301,4,300
24,2005-01-14,1,Australia,Michael Clarke,66,77,1.01,42,20,7,0,8,0,0,21.06,301,4,300
25,2005-01-14,1,Australia,Ricky Ponting,78,92,2.02,40,41,4,1,5,0,1,39.03,301,4,300
26,2005-01-14,2,West Indies,Brian Lara,58,68,3.05,35,21,5,1,6,0,0,28.01,185,10,278
27,2005-01-14,2,West Indies,Chris Gayle,0,3,0.01,3,0,0,0,0,0,0,0.03,185,10,278
28,2005-01-14,2,West Indies,Courtney Browne,20,39,34.04,25,10,3,0,1,0,0,46.01,185,10,278
29,2005-01-14,2,West Indies,Dwayne Bravo,3,10,30.06,7,3,0,0,0,0,0,36.02,185,10,278
30,2005-01-14,2,West Indies,Ian Bradshaw,12,19,36.03,12,4,1,2,0,0,0,41.01,185,10,278
31,2005-01-14,2,West Indies,Marlon Samuels,9,26,28.02,18,7,1,0,0,0,0,34.03,185,10,278
32,2005-01-14,2,West Indies,Mervyn Dillon,6,10,42.03,7,2,0,0,1,0,0,46.02,185,10,278
33,2005-01-14,2,West Indies,Ramnaresh Sarwan,4,10,0.04,9,0,0,0,1,0,0,4.01,185,10,278
34,2005-01-14,2,West Indies,Shivnarine Chanderpaul,46,73,8.01,40,24,6,2,1,0,0,30.05,185,10,278
35,2005-01-14,2,West Indies,Wavell Hinds,5,10,1.01,8,1,0,0,1,0,0,2.06,185,10,278
36,2005-01-14,2,West Indies,Xavier Marshall,5,10,4.02,8,1,0,0,1,0,0,6.06,185,10,278
37,2005-01-16,1,Pakistan,Abdul Razzaq,12,14,41.06,6,6,1,0,1,0,0,48.03,272,7,300
38,2005-01-16,1,Pakistan,Azhar Mahmood,3,3,49.01,0,3,0,0,0,0,0,49.06,272,7,300
39,2005-01-16,1,Pakistan,Inzamam-ul-Haq,68,64,20.03,17,39,2,1,4,0,1,43.05,272,7,300