In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv('C:/Users/Vijay/OneDrive/Documents/Others/ODI-BBB/odi_refined_data.csv')

C:\Users\Vijay\AppData\Local\Temp\ipykernel_12580\2684055290.py:1: DtypeWarning: Columns (41,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset=pd.read_csv('C:/Users/Vijay/OneDrive/Documents/Others/ODI-BBB/odi_refined_data.csv')

In [3]:
dataset

,Unnamed: 0,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,...,wagonX,wagonY,wagonZone,line,length,shot,control,predscore,wprob,who_out?
0,0,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,1,...,0,0,0,NaN,NaN,NO_SHOT,1.0,-1,-1.00,NaN
1,1,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,2,...,219,190,3,NaN,NaN,FORWARD_DEFENCE,1.0,-1,-1.00,NaN
2,2,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,3,...,0,0,0,NaN,NaN,NO_SHOT,1.0,-1,-1.00,NaN
3,3,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,4,...,228,198,3,NaN,NaN,OFF_SIDE_DRIVE_ON_FRONT_FOOT,1.0,-1,-1.00,NaN
4,4,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,3,...,212,179,3,NaN,NaN,BACK_DEFENCE,1.0,-1,-1.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322268,1322268,1412540,2,Janith Liyanage,681681,Sri Lanka,Ryan Burl,495964,Zimbabwe,5,...,0,0,0,DOWN_LEG,GOOD_LENGTH,LEG_GLANCE,NaN,216,59.63,NaN
1322269,1322269,1412540,2,Janith Liyanage,681681,Sri Lanka,Ryan Burl,495964,Zimbabwe,6,...,222,320,4,OUTSIDE_OFFSTUMP,GOOD_LENGTH,ON_DRIVE,1.0,218,63.29,NaN
1322270,1322270,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,2,...,6,259,6,WIDE_OUTSIDE_OFFSTUMP,FULL_TOSS,COVER_DRIVE,1.0,208,45.23,NaN
1322271,1322271,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,3,...,37,196,6,OUTSIDE_OFFSTUMP,GOOD_LENGTH,COVER_DRIVE,1.0,210,49.34,NaN
1322272,1322272,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,7,...,309,127,2,ON_THE_STUMPS,GOOD_LENGTH,FLICK,1.0,220,66.75,NaN

In [4]:
dataset['dismissal'].value_counts()

caught                    21472
bowled                     6792
leg before wicket          4100
run out                    2712
stumped                     913
retired not out (hurt)       45
hit wicket                   33
obstructing the field         6
not out                       5
handled the ball              1
Name: dismissal, dtype: int64

In [5]:
dataset['1s']=dataset['batruns'].apply(lambda x: 1 if x==1 else 0)
dataset['2s']=dataset['batruns'].apply(lambda x: 1 if x==2 else 0)
dataset['3s']=dataset['batruns'].apply(lambda x: 1 if x==3 else 0)
dataset['4s']=dataset['batruns'].apply(lambda x: 1 if x==4 else 0)
dataset['5s']=dataset['batruns'].apply(lambda x: 1 if x==5 else 0)
dataset['6s']=dataset['batruns'].apply(lambda x: 1 if x==6 else 0)
dataset['dots']=0
dataset.loc[(dataset['batruns']==0) & (dataset['ballfaced'])==1,'dots']=1

In [6]:
wickets_earned=['caught','bowled','leg before wicket','stumped','hit wicket']

In [7]:
dataset.columns

Index(['Unnamed: 0', 'p_match', 'inns', 'bat', 'p_bat', 'team_bat', 'bowl',
       'p_bowl', 'team_bowl', 'ball', 'ball_id', 'outcome', 'score', 'out',
       'dismissal', 'p_out', 'over', 'noball', 'wide', 'byes', 'legbyes',
       'cur_bat_runs', 'cur_bat_bf', 'cur_bowl_ovr', 'cur_bowl_wkts',
       'cur_bowl_runs', 'inns_runs', 'inns_wkts', 'inns_balls',
       'inns_runs_rem', 'inns_balls_rem', 'inns_rr', 'inns_rrr', 'target',
       'max_balls', 'date', 'year', 'ground', 'country', 'winner', 'toss',
       'competition', 'bat_hand', 'bowl_style', 'bowl_kind', 'batruns',
       'ballfaced', 'bowlruns', 'bat_out', 'wagonX', 'wagonY', 'wagonZone',
       'line', 'length', 'shot', 'control', 'predscore', 'wprob', 'who_out?',
       '1s', '2s', '3s', '4s', '5s', '6s', 'dots'],
      dtype='object')

In [8]:
aggfunc={
    'inns_runs':'max',
    'inns_wkts':'max',
    'inns_balls':'max'
}

In [9]:
oditotals=dataset.groupby(['date','inns','team_bat','team_bowl']).agg(aggfunc).reset_index()

In [10]:
oditotals

,date,inns,team_bat,team_bowl,inns_runs,inns_wkts,inns_balls
0,2005-01-10,1,World-XI,Asia XI,344,8,300
1,2005-01-10,2,Asia XI,World-XI,232,10,239
2,2005-01-14,1,Australia,West Indies,301,4,300
3,2005-01-14,2,West Indies,Australia,185,10,278
4,2005-01-16,1,Pakistan,Australia,272,7,300
...,...,...,...,...,...,...,...
4894,2024-03-18,2,Bangladesh,Sri Lanka,237,6,242
4895,2024-07-16,1,Oman,Scotland,123,10,228
4896,2024-07-16,2,Scotland,Oman,99,2,74
4897,2024-07-18,1,Oman,Namibia,233,8,300
4898,2024-07-18,2,Namibia,Oman,234,4,287

In [11]:
dataset

,Unnamed: 0,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,...,predscore,wprob,who_out?,1s,2s,3s,4s,5s,6s,dots
0,0,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,1,...,-1,-1.00,NaN,0,0,0,0,0,0,1
1,1,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,2,...,-1,-1.00,NaN,0,0,0,0,0,0,1
2,2,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,3,...,-1,-1.00,NaN,0,0,0,0,0,0,0
3,3,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,4,...,-1,-1.00,NaN,1,0,0,0,0,0,0
4,4,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,3,...,-1,-1.00,NaN,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322268,1322268,1412540,2,Janith Liyanage,681681,Sri Lanka,Ryan Burl,495964,Zimbabwe,5,...,216,59.63,NaN,0,0,0,0,0,0,0
1322269,1322269,1412540,2,Janith Liyanage,681681,Sri Lanka,Ryan Burl,495964,Zimbabwe,6,...,218,63.29,NaN,1,0,0,0,0,0,0
1322270,1322270,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,2,...,208,45.23,NaN,0,0,0,1,0,0,0
1322271,1322271,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,3,...,210,49.34,NaN,1,0,0,0,0,0,0
1322272,1322272,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,7,...,220,66.75,NaN,0,1,0,0,0,0,0

In [12]:
comes={
    'batruns':'sum',
    'ballfaced':'sum',
    'ball_id':'min',
    'dots':'sum',
    '1s':'sum',
    '2s':'sum',
    '3s':'sum',
    '4s':'sum',
    '5s':'sum',
    '6s':'sum'
}
entry=dataset.groupby(['date','inns','team_bat','team_bowl','bat']).agg(comes).reset_index()

In [13]:
entry

,date,inns,team_bat,team_bowl,bat,batruns,ballfaced,ball_id,dots,1s,2s,3s,4s,5s,6s
0,2005-01-10,1,World-XI,Asia XI,Adam Gilchrist,24,20,0.06,11,4,1,0,3,0,1
1,2005-01-10,1,World-XI,Asia XI,Brian Lara,52,77,9.03,45,21,5,3,3,0,0
2,2005-01-10,1,World-XI,Asia XI,Chris Cairns,69,47,30.03,15,16,7,1,6,0,2
3,2005-01-10,1,World-XI,Asia XI,Chris Gayle,1,9,0.01,8,1,0,0,0,0,0
4,2005-01-10,1,World-XI,Asia XI,Daniel Vettori,27,17,43.05,2,7,6,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43325,2024-07-18,2,Namibia,Oman,JJ Smit,44,37,35.06,16,14,1,0,4,0,2
43326,2024-07-18,2,Namibia,Oman,JP Kotze,16,17,41.06,7,8,1,0,0,0,1
43327,2024-07-18,2,Namibia,Oman,Jan Frylinck,73,81,15.02,35,35,3,0,8,0,0
43328,2024-07-18,2,Namibia,Oman,Lo-handre Louwrens,29,65,0.03,47,13,2,0,3,0,0
43329,2024-07-18,2,Namibia,Oman,Michael van Lingen,30,41,0.01,22,14,2,0,3,0,0

In [14]:
goes={
    'batruns':'sum',
    'ballfaced':'sum',
    'ball_id':'max'
}
exit=dataset.groupby(['date','inns','team_bat','team_bowl','bat']).agg(goes).reset_index()

In [15]:
entry.rename(mapper={'ball_id':'entry_ball'},axis=1,inplace=True)

In [16]:
exit

,date,inns,team_bat,team_bowl,bat,batruns,ballfaced,ball_id
0,2005-01-10,1,World-XI,Asia XI,Adam Gilchrist,24,20,9.02
1,2005-01-10,1,World-XI,Asia XI,Brian Lara,52,77,30.01
2,2005-01-10,1,World-XI,Asia XI,Chris Cairns,69,47,41.06
3,2005-01-10,1,World-XI,Asia XI,Chris Gayle,1,9,1.04
4,2005-01-10,1,World-XI,Asia XI,Daniel Vettori,27,17,49.06
...,...,...,...,...,...,...,...,...
43325,2024-07-18,2,Namibia,Oman,JJ Smit,44,37,47.05
43326,2024-07-18,2,Namibia,Oman,JP Kotze,16,17,47.03
43327,2024-07-18,2,Namibia,Oman,Jan Frylinck,73,81,41.05
43328,2024-07-18,2,Namibia,Oman,Lo-handre Louwrens,29,65,21.02
43329,2024-07-18,2,Namibia,Oman,Michael van Lingen,30,41,14.06

In [17]:
exit.rename(mapper={'ball_id':'exit_ball'},axis=1,inplace=True)

In [18]:
entry

,date,inns,team_bat,team_bowl,bat,batruns,ballfaced,entry_ball,dots,1s,2s,3s,4s,5s,6s
0,2005-01-10,1,World-XI,Asia XI,Adam Gilchrist,24,20,0.06,11,4,1,0,3,0,1
1,2005-01-10,1,World-XI,Asia XI,Brian Lara,52,77,9.03,45,21,5,3,3,0,0
2,2005-01-10,1,World-XI,Asia XI,Chris Cairns,69,47,30.03,15,16,7,1,6,0,2
3,2005-01-10,1,World-XI,Asia XI,Chris Gayle,1,9,0.01,8,1,0,0,0,0,0
4,2005-01-10,1,World-XI,Asia XI,Daniel Vettori,27,17,43.05,2,7,6,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43325,2024-07-18,2,Namibia,Oman,JJ Smit,44,37,35.06,16,14,1,0,4,0,2
43326,2024-07-18,2,Namibia,Oman,JP Kotze,16,17,41.06,7,8,1,0,0,0,1
43327,2024-07-18,2,Namibia,Oman,Jan Frylinck,73,81,15.02,35,35,3,0,8,0,0
43328,2024-07-18,2,Namibia,Oman,Lo-handre Louwrens,29,65,0.03,47,13,2,0,3,0,0
43329,2024-07-18,2,Namibia,Oman,Michael van Lingen,30,41,0.01,22,14,2,0,3,0,0

In [19]:
arrivals_exits=pd.merge(entry,exit,on=['date','inns','team_bat','team_bowl','bat','batruns','ballfaced'],how='inner')

In [20]:
arrivals_exits

,date,inns,team_bat,team_bowl,bat,batruns,ballfaced,entry_ball,dots,1s,2s,3s,4s,5s,6s,exit_ball
0,2005-01-10,1,World-XI,Asia XI,Adam Gilchrist,24,20,0.06,11,4,1,0,3,0,1,9.02
1,2005-01-10,1,World-XI,Asia XI,Brian Lara,52,77,9.03,45,21,5,3,3,0,0,30.01
2,2005-01-10,1,World-XI,Asia XI,Chris Cairns,69,47,30.03,15,16,7,1,6,0,2,41.06
3,2005-01-10,1,World-XI,Asia XI,Chris Gayle,1,9,0.01,8,1,0,0,0,0,0,1.04
4,2005-01-10,1,World-XI,Asia XI,Daniel Vettori,27,17,43.05,2,7,6,0,2,0,0,49.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43325,2024-07-18,2,Namibia,Oman,JJ Smit,44,37,35.06,16,14,1,0,4,0,2,47.05
43326,2024-07-18,2,Namibia,Oman,JP Kotze,16,17,41.06,7,8,1,0,0,0,1,47.03
43327,2024-07-18,2,Namibia,Oman,Jan Frylinck,73,81,15.02,35,35,3,0,8,0,0,41.05
43328,2024-07-18,2,Namibia,Oman,Lo-handre Louwrens,29,65,0.03,47,13,2,0,3,0,0,21.02
43329,2024-07-18,2,Namibia,Oman,Michael van Lingen,30,41,0.01,22,14,2,0,3,0,0,14.06

In [21]:
profile=pd.merge(arrivals_exits,oditotals,on=['date','inns','team_bat','team_bowl'],how='inner')

In [22]:
profile.head(40)

,date,inns,team_bat,team_bowl,bat,batruns,ballfaced,entry_ball,dots,1s,2s,3s,4s,5s,6s,exit_ball,inns_runs,inns_wkts,inns_balls
0,2005-01-10,1,World-XI,Asia XI,Adam Gilchrist,24,20,0.06,11,4,1,0,3,0,1,9.02,344,8,300
1,2005-01-10,1,World-XI,Asia XI,Brian Lara,52,77,9.03,45,21,5,3,3,0,0,30.01,344,8,300
2,2005-01-10,1,World-XI,Asia XI,Chris Cairns,69,47,30.03,15,16,7,1,6,0,2,41.06,344,8,300
3,2005-01-10,1,World-XI,Asia XI,Chris Gayle,1,9,0.01,8,1,0,0,0,0,0,1.04,344,8,300
4,2005-01-10,1,World-XI,Asia XI,Daniel Vettori,27,17,43.05,2,7,6,0,2,0,0,49.06,344,8,300
5,2005-01-10,1,World-XI,Asia XI,Glenn McGrath,0,1,39.05,1,0,0,0,0,0,0,39.05,344,8,300
6,2005-01-10,1,World-XI,Asia XI,Matthew Hayden,2,5,42.04,4,0,1,0,0,0,0,43.04,344,8,300
7,2005-01-10,1,World-XI,Asia XI,Ricky Ponting,115,102,1.05,38,43,8,2,8,0,3,38.06,344,8,300
8,2005-01-10,1,World-XI,Asia XI,Shane Warne,2,2,49.03,0,2,0,0,0,0,0,49.05,344,8,300
9,2005-01-10,1,World-XI,Asia XI,Stephen Fleming,30,28,40.01,9,11,6,1,1,0,0,49.02,344,8,300
10,2005-01-10,2,Asia XI,World-XI,Abdul Razzaq,11,11,28.04,6,1,2,2,0,0,0,31.01,232,10,239
11,2005-01-10,2,Asia XI,World-XI,Anil Kumble,11,7,36.03,3,1,1,0,2,0,0,38.04,232,10,239
12,2005-01-10,2,Asia XI,World-XI,Chaminda Vaas,7,12,31.02,5,7,0,0,0,0,0,35.04,232,10,239
13,2005-01-10,2,Asia XI,World-XI,Kumar Sangakkara,24,24,20.06,10,10,1,0,3,0,0,28.03,232,10,239
14,2005-01-10,2,Asia XI,World-XI,Mohammad Yousuf,4,5,19.06,2,2,1,0,0,0,0,20.05,232,10,239
15,2005-01-10,2,Asia XI,World-XI,Muthiah Muralidaran,0,2,38.05,2,0,0,0,0,0,0,38.06,232,10,239
16,2005-01-10,2,Asia XI,World-XI,Rahul Dravid,75,71,12.05,25,28,12,1,5,0,0,39.05,232,10,239
17,2005-01-10,2,Asia XI,World-XI,Sanath Jayasuriya,28,29,0.01,12,11,3,1,2,0,0,9.03,232,10,239
18,2005-01-10,2,Asia XI,World-XI,Sourav Ganguly,22,40,9.04,26,10,2,0,2,0,0,19.05,232,10,239
19,2005-01-10,2,Asia XI,World-XI,Virender Sehwag,45,39,0.02,18,12,2,1,5,0,1,12.02,232,10,239
20,2005-01-14,1,Australia,West Indies,Adam Gilchrist,0,7,0.01,7,0,0,0,0,0,0,2.01,301,4,300
21,2005-01-14,1,Australia,West Indies,Andrew Symonds,20,21,39.04,7,10,3,0,1,0,0,45.06,301,4,300
22,2005-01-14,1,Australia,West Indies,Damien Martyn,95,94,22.05,35,41,9,2,6,0,1,49.04,301,4,300
23,2005-01-14,1,Australia,West Indies,Darren Lehmann,20,14,46.01,4,4,4,0,2,0,0,49.07,301,4,300
24,2005-01-14,1,Australia,West Indies,Michael Clarke,66,77,1.01,42,20,7,0,8,0,0,21.06,301,4,300
25,2005-01-14,1,Australia,West Indies,Ricky Ponting,78,92,2.02,40,41,4,1,5,0,1,39.03,301,4,300
26,2005-01-14,2,West Indies,Australia,Brian Lara,58,68,3.05,35,21,5,1,6,0,0,28.01,185,10,278
27,2005-01-14,2,West Indies,Australia,Chris Gayle,0,3,0.01,3,0,0,0,0,0,0,0.03,185,10,278
28,2005-01-14,2,West Indies,Australia,Courtney Browne,20,39,34.04,25,10,3,0,1,0,0,46.01,185,10,278
29,2005-01-14,2,West Indies,Australia,Dwayne Bravo,3,10,30.06,7,3,0,0,0,0,0,36.02,185,10,278
30,2005-01-14,2,West Indies,Australia,Ian Bradshaw,12,19,36.03,12,4,1,2,0,0,0,41.01,185,10,278
31,2005-01-14,2,West Indies,Australia,Marlon Samuels,9,26,28.02,18,7,1,0,0,0,0,34.03,185,10,278
32,2005-01-14,2,West Indies,Australia,Mervyn Dillon,6,10,42.03,7,2,0,0,1,0,0,46.02,185,10,278
33,2005-01-14,2,West Indies,Australia,Ramnaresh Sarwan,4,10,0.04,9,0,0,0,1,0,0,4.01,185,10,278
34,2005-01-14,2,West Indies,Australia,Shivnarine Chanderpaul,46,73,8.01,40,24,6,2,1,0,0,30.05,185,10,278
35,2005-01-14,2,West Indies,Australia,Wavell Hinds,5,10,1.01,8,1,0,0,1,0,0,2.06,185,10,278
36,2005-01-14,2,West Indies,Australia,Xavier Marshall,5,10,4.02,8,1,0,0,1,0,0,6.06,185,10,278
37,2005-01-16,1,Pakistan,Australia,Abdul Razzaq,12,14,41.06,6,6,1,0,1,0,0,48.03,272,7,300
38,2005-01-16,1,Pakistan,Australia,Azhar Mahmood,3,3,49.01,0,3,0,0,0,0,0,49.06,272,7,300
39,2005-01-16,1,Pakistan,Australia,Inzamam-ul-Haq,68,64,20.03,17,39,2,1,4,0,1,43.05,272,7,300

In [23]:
outs=dataset.groupby(by=['date','inns','team_bat','team_bowl','who_out?']).size().reset_index(name='count')
outs.rename(mapper={'who_out?':'bat'},axis=1,inplace=True)

In [24]:
finalprofile=pd.merge(profile,outs,on=['date','inns','team_bat','team_bowl','bat'],how='left')

In [25]:
finalprofile

,date,inns,team_bat,team_bowl,bat,batruns,ballfaced,entry_ball,dots,1s,2s,3s,4s,5s,6s,exit_ball,inns_runs,inns_wkts,inns_balls,count
0,2005-01-10,1,World-XI,Asia XI,Adam Gilchrist,24,20,0.06,11,4,1,0,3,0,1,9.02,344,8,300,1.0
1,2005-01-10,1,World-XI,Asia XI,Brian Lara,52,77,9.03,45,21,5,3,3,0,0,30.01,344,8,300,1.0
2,2005-01-10,1,World-XI,Asia XI,Chris Cairns,69,47,30.03,15,16,7,1,6,0,2,41.06,344,8,300,1.0
3,2005-01-10,1,World-XI,Asia XI,Chris Gayle,1,9,0.01,8,1,0,0,0,0,0,1.04,344,8,300,1.0
4,2005-01-10,1,World-XI,Asia XI,Daniel Vettori,27,17,43.05,2,7,6,0,2,0,0,49.06,344,8,300,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43325,2024-07-18,2,Namibia,Oman,JJ Smit,44,37,35.06,16,14,1,0,4,0,2,47.05,234,4,287,NaN
43326,2024-07-18,2,Namibia,Oman,JP Kotze,16,17,41.06,7,8,1,0,0,0,1,47.03,234,4,287,NaN
43327,2024-07-18,2,Namibia,Oman,Jan Frylinck,73,81,15.02,35,35,3,0,8,0,0,41.05,234,4,287,1.0
43328,2024-07-18,2,Namibia,Oman,Lo-handre Louwrens,29,65,0.03,47,13,2,0,3,0,0,21.02,234,4,287,1.0
43329,2024-07-18,2,Namibia,Oman,Michael van Lingen,30,41,0.01,22,14,2,0,3,0,0,14.06,234,4,287,1.0

In [26]:
finalprofile.rename(mapper={'count':'out?'},inplace=True,axis=1)

In [27]:
finalprofile[finalprofile['out?']>1]

,date,inns,team_bat,team_bowl,bat,batruns,ballfaced,entry_ball,dots,1s,2s,3s,4s,5s,6s,exit_ball,inns_runs,inns_wkts,inns_balls,out?
3413,2006-09-18,2,West Indies,Australia,Brian Lara,89,83,11.05,38,27,6,0,11,0,1,40.02,273,7,284,2.0
3593,2006-10-14,1,West Indies,Sri Lanka,Ramnaresh Sarwan,0,4,0.06,4,0,0,0,0,0,0,2.01,80,10,184,2.0
3673,2006-10-18,2,Australia,West Indies,Michael Clarke,48,87,20.02,54,26,3,0,4,0,0,46.01,224,9,300,2.0
3731,2006-10-24,2,Sri Lanka,South Africa,Tillakaratne Dilshan,36,64,13.04,42,15,3,1,3,0,0,33.01,141,10,235,2.0
5796,2007-05-18,1,Sri Lanka,Pakistan,Chamara Kapugedera,28,42,2.04,27,10,1,0,4,0,0,15.06,235,9,300,2.0
9342,2009-01-23,2,Bangladesh,Zimbabwe,Mehrab Hossain jnr,2,25,0.04,23,2,0,0,0,0,0,8.06,121,4,195,2.0
10044,2009-04-19,1,Kenya,Netherlands,Steve Tikolo,45,51,7.06,29,14,0,1,7,0,0,24.05,179,10,259,2.0
10236,2009-07-07,1,Scotland,Canada,Jan Stander,2,4,45.05,2,2,0,0,0,0,0,46.03,286,4,300,2.0
10584,2009-08-22,2,Scotland,Ireland,Marc Petrie,4,12,28.06,8,4,0,0,0,0,0,33.01,108,10,243,2.0
11192,2009-10-18,2,Kenya,Zimbabwe,Morris Ouma,7,22,6.07,17,4,0,1,0,0,0,12.06,187,10,237,2.0
11193,2009-10-18,2,Kenya,Zimbabwe,Nehemiah Odhiambo,14,14,29.08,7,4,1,0,2,0,0,36.06,187,10,237,2.0
11896,2010-02-11,1,Bangladesh,New Zealand,Shahadat Hossain,5,10,47.03,6,3,1,0,0,0,0,49.07,241,8,300,2.0
12079,2010-02-28,1,Bangladesh,England,Abdur Razzak,2,11,41.04,9,2,0,0,0,0,0,45.04,228,10,274,2.0
12340,2010-04-15,1,Ireland,West Indies,Andrew White,17,21,26.01,11,7,1,0,2,0,0,46.05,219,10,300,2.0
12658,2010-06-19,1,Scotland,England,Ross Lyons,1,4,49.03,3,1,0,0,0,0,0,49.05,211,10,299,3.0
12811,2010-07-01,1,Kenya,Ireland,Jimmy Kamande,0,2,30.01,2,0,0,0,0,0,0,30.02,163,10,273,2.0
12829,2010-07-01,2,Afghanistan,Canada,Shabir Noori,19,34,0.03,24,6,1,1,2,0,0,10.01,258,4,292,2.0
12942,2010-07-05,1,Scotland,Ireland,Matthew Parker,7,22,39.05,16,5,1,0,0,0,0,47.02,117,10,284,2.0
12985,2010-07-07,1,Netherlands,Afghanistan,Eric Szwarczynski,5,11,0.01,9,1,0,0,1,0,0,3.01,202,7,300,2.0
12988,2010-07-07,1,Netherlands,Afghanistan,Tom Cooper,111,170,3.02,102,45,13,0,10,0,0,49.06,202,7,300,4.0
13054,2010-07-09,1,Ireland,Netherlands,George Dockrell,0,4,47.05,4,0,0,0,0,0,0,48.02,177,10,290,2.0
13144,2010-07-10,2,Canada,Kenya,Rizwan Cheema,1,15,21.05,14,1,0,0,0,0,0,26.06,194,7,296,2.0
13325,2010-08-17,1,Afghanistan,Scotland,Karim Sadiq,0,2,0.01,2,0,0,0,0,0,0,0.01,120,10,242,2.0
13571,2010-09-28,1,Ireland,Zimbabwe,Albert van der Merwe,9,7,47.01,3,3,0,0,0,0,1,48.07,238,9,300,2.0
13630,2010-10-05,2,New Zealand,Bangladesh,Shanan Stewart,2,10,24.05,8,2,0,0,0,0,0,28.03,200,8,222,2.0
13646,2010-10-07,2,Afghanistan,Kenya,Karim Sadiq,19,28,0.01,21,3,0,0,4,0,0,7.06,88,10,167,2.0
15377,2011-04-13,1,Australia,Bangladesh,Ricky Ponting,47,51,1.01,32,9,2,0,7,0,1,15.03,361,8,300,2.0
16745,2012-02-03,1,New Zealand,Zimbabwe,Dean Brownlie,19,28,24.05,16,9,1,0,2,0,0,32.05,248,10,291,2.0
17465,2012-03-29,1,Afghanistan,Netherlands,Gulbadin Naib,1,5,30.07,4,1,0,0,0,0,0,31.06,153,10,236,2.0
19381,2013-07-07,1,Ireland,Netherlands,Niall O'Brien,70,107,7.04,59,35,8,1,4,0,0,37.06,236,10,299,2.0
19433,2013-07-09,2,Netherlands,Ireland,Michael Swart,1,1,29.02,0,1,0,0,0,0,0,29.02,268,9,300,2.0
21185,2014-05-01,2,Afghanistan,Hong Kong,Noor Ali Zadran,18,20,0.01,12,4,1,0,3,0,0,5.03,218,4,259,2.0
26253,2016-09-10,1,Scotland,Hong Kong,Con de Lange,11,19,27.03,13,3,2,0,1,0,0,31.06,266,7,300,2.0
28699,2017-10-08,1,Scotland,Papua New Guinea,Mark Watt,16,19,43.02,8,10,0,0,0,0,1,48.03,203,10,296,2.0
28989,2017-12-08,1,Hong Kong,Papua New Guinea,Nizakat Khan,1,3,42.02,2,1,0,0,0,0,0,42.05,323,4,300,2.0
30018,2018-03-12,2,Scotland,Zimbabwe,George Munsey,29,72,13.05,49,20,1,1,1,0,0,36.04,211,10,295,2.0
33513,2019-08-14,2,Oman,Papua New Guinea,Suraj Kumar,24,33,25.01,17,12,2,0,2,0,0,36.04,234,6,295,2.0
33708,2019-09-23,1,Namibia,Papua New Guinea,JJ Smit,33,33,35.06,14,15,1,0,1,0,2,46.05,260,9,300,2.0
33887,2019-12-14,2,Scotland,United States of America,Calum MacLeod,62,73,12.03,34,28,5,0,6,0,0,40.01,246,6,293,2.0
35684,2021-09-10,1,Nepal,Papua New Guinea,Binod Bhandari,17,36,24.02,25,9,0,0,2,0,0,33.06,233,10,297,2.0
35690,2021-09-10,1,Nepal,Papua New Guinea,Sandeep Lamichhane,0,1,48.06,1,0,0,0,0,0,0,48.06,233,10,297,2.0
35702,2021-09-10,2,Papua New Guinea,Nepal,Tony Ura,19,35,0.01,24,7,2,0,2,0,0,9.04,82,10,115,2.0
35706,2021-09-13,1,United States of America,Nepal,Karima Gore,16,14,43.06,4,7,1,1,1,0,0,47.04,230,9,300,2.0
36206,2022-02-05,1,Oman,United Arab Emirates,Ayaan Khan,78,91,13.03,48,29,4,1,8,0,1,42.06,307,9,300,2.0
40553,2023-06-21,1,Ireland,Scotland,Paul Stirling,0,2,0.02,2,0,0,0,0,0,0,0.02,286,8,300,2.0

In [29]:
dataset.duplicated().sum()

0