In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("C:/Users/Vijay/OneDrive/Documents/Others/odi_bbb_2005_2024.csv")

C:\Users\Vijay\AppData\Local\Temp\ipykernel_15096\990751168.py:1: DtypeWarning: Columns (40,51,52) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset=pd.read_csv("C:/Users/Vijay/OneDrive/Documents/Others/odi_bbb_2005_2024.csv")

In [3]:
dataset

,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,ball_id,...,bat_out,wagonX,wagonY,wagonZone,line,length,shot,control,predscore,wprob
0,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,1,0.01,...,True,0,0,0,NaN,NaN,NO_SHOT,1.0,-1,-1.00
1,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,2,0.02,...,True,219,190,3,NaN,NaN,FORWARD_DEFENCE,1.0,-1,-1.00
2,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,3,0.03,...,True,0,0,0,NaN,NaN,NO_SHOT,1.0,-1,-1.00
3,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,4,0.04,...,True,228,198,3,NaN,NaN,OFF_SIDE_DRIVE_ON_FRONT_FOOT,1.0,-1,-1.00
4,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,3,2.03,...,True,212,179,3,NaN,NaN,BACK_DEFENCE,1.0,-1,-1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322268,1412540,2,Janith Liyanage,681681,Sri Lanka,Ryan Burl,495964,Zimbabwe,5,35.05,...,True,0,0,0,DOWN_LEG,GOOD_LENGTH,LEG_GLANCE,NaN,216,59.63
1322269,1412540,2,Janith Liyanage,681681,Sri Lanka,Ryan Burl,495964,Zimbabwe,6,35.06,...,True,222,320,4,OUTSIDE_OFFSTUMP,GOOD_LENGTH,ON_DRIVE,1.0,218,63.29
1322270,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,2,35.02,...,True,6,259,6,WIDE_OUTSIDE_OFFSTUMP,FULL_TOSS,COVER_DRIVE,1.0,208,45.23
1322271,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,3,35.03,...,True,37,196,6,OUTSIDE_OFFSTUMP,GOOD_LENGTH,COVER_DRIVE,1.0,210,49.34
1322272,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,7,35.07,...,True,309,127,2,ON_THE_STUMPS,GOOD_LENGTH,FLICK,1.0,220,66.75

In [4]:
bowlunder6=dataset[(dataset['inns_rr']>5) & (dataset['inns_rr']<=6)]

In [5]:
bowlunder6

,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,ball_id,...,bat_out,wagonX,wagonY,wagonZone,line,length,shot,control,predscore,wprob
15,226390,1,Sanath Jayasuriya,49209,Sri Lanka,Kyle Mills,37740,New Zealand,5,0.05,...,True,326,125,2,NaN,NaN,CUT_SHOT_ON_BACK_FOOT,1.0,-1,-1.00
299,226390,2,Lou Vincent,38714,New Zealand,Chaminda Vaas,50804,Sri Lanka,2,6.02,...,True,38,268,6,NaN,NaN,CUT_SHOT_ON_BACK_FOOT,1.0,-1,-1.00
530,226353,1,Matt Prior,18675,England,Shoaib Akhtar,42655,Pakistan,7,0.07,...,True,337,230,3,NaN,NaN,LEG_GLANCE,1.0,-1,-1.00
535,226353,1,Matt Prior,18675,England,Shoaib Akhtar,42655,Pakistan,5,2.05,...,True,109,32,8,NaN,NaN,BACK_DEFENCE,0.0,-1,-1.00
536,226353,1,Matt Prior,18675,England,Shoaib Akhtar,42655,Pakistan,6,2.06,...,True,0,0,0,NaN,NaN,FORWARD_DEFENCE,0.0,-1,-1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1321985,1412540,2,Janith Liyanage,681681,Sri Lanka,Richard Ngarava,806241,Zimbabwe,4,2.04,...,True,0,0,0,ON_THE_STUMPS,SHORT_OF_A_GOOD_LENGTH,PUSH,0.0,232,63.81
1321986,1412540,2,Janith Liyanage,681681,Sri Lanka,Richard Ngarava,806241,Zimbabwe,5,2.05,...,True,0,0,0,OUTSIDE_OFFSTUMP,SHORT_OF_A_GOOD_LENGTH,LEFT_ALONE,1.0,231,62.88
1321987,1412540,2,Janith Liyanage,681681,Sri Lanka,Richard Ngarava,806241,Zimbabwe,6,2.06,...,True,0,0,0,OUTSIDE_OFFSTUMP,SHORT_OF_A_GOOD_LENGTH,LEFT_ALONE,1.0,231,62.44
1322041,1412540,2,Kusal Mendis,629074,Sri Lanka,Blessing Muzarabani,827051,Zimbabwe,1,3.01,...,True,101,160,7,OUTSIDE_OFFSTUMP,SHORT_OF_A_GOOD_LENGTH,SQUARE_DRIVE,1.0,230,61.99
1322042,1412540,2,Kusal Mendis,629074,Sri Lanka,Blessing Muzarabani,827051,Zimbabwe,2,3.02,...,True,59,128,7,OUTSIDE_OFFSTUMP,SHORT_OF_A_GOOD_LENGTH,CUT_SHOT,1.0,230,61.78

In [6]:
bowlunder6.columns

Index(['p_match', 'inns', 'bat', 'p_bat', 'team_bat', 'bowl', 'p_bowl',
       'team_bowl', 'ball', 'ball_id', 'outcome', 'score', 'out', 'dismissal',
       'p_out', 'over', 'noball', 'wide', 'byes', 'legbyes', 'cur_bat_runs',
       'cur_bat_bf', 'cur_bowl_ovr', 'cur_bowl_wkts', 'cur_bowl_runs',
       'inns_runs', 'inns_wkts', 'inns_balls', 'inns_runs_rem',
       'inns_balls_rem', 'inns_rr', 'inns_rrr', 'target', 'max_balls', 'date',
       'year', 'ground', 'country', 'winner', 'toss', 'competition',
       'bat_hand', 'bowl_style', 'bowl_kind', 'batruns', 'ballfaced',
       'bowlruns', 'bat_out', 'wagonX', 'wagonY', 'wagonZone', 'line',
       'length', 'shot', 'control', 'predscore', 'wprob'],
      dtype='object')

In [7]:
dataset['dismissal'].value_counts()

caught                    21472
bowled                     6792
leg before wicket          4100
run out                    2712
stumped                     913
retired not out (hurt)       45
hit wicket                   33
obstructing the field         6
not out                       5
handled the ball              1
Name: dismissal, dtype: int64

In [8]:
bowldis=['caught','bowled','leg before wicket','stumped','hit wicket']
bowlunder6['wickets_earned?']=bowlunder6['dismissal'].apply(lambda x: 1 if x in bowldis else 0)

C:\Users\Vijay\AppData\Local\Temp\ipykernel_15096\289537146.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bowlunder6['wickets_earned?']=bowlunder6['dismissal'].apply(lambda x: 1 if x in bowldis else 0)

In [9]:
bowlunder6['false_shot']=1-bowlunder6['control']
req_cols=['bowl','bowlruns','ballfaced','wickets_earned?','false_shot']
bowlunder6=bowlunder6[req_cols]

C:\Users\Vijay\AppData\Local\Temp\ipykernel_15096\4127860961.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bowlunder6['false_shot']=1-bowlunder6['control']

In [10]:
bowlunder6

                        bowl  bowlruns  ballfaced  wickets_earned?  false_shot
15                Kyle Mills         2          1                0         0.0
299            Chaminda Vaas         4          1                0         0.0
530            Shoaib Akhtar         4          1                0         0.0
535            Shoaib Akhtar         5          1                0         1.0
536            Shoaib Akhtar         0          1                0         1.0
...                      ...       ...        ...              ...         ...
1321985      Richard Ngarava         0          1                0         1.0
1321986      Richard Ngarava         0          1                0         0.0
1321987      Richard Ngarava         0          1                0         0.0
1322041  Blessing Muzarabani         0          1                0         0.0
1322042  Blessing Muzarabani         1          1                0         0.0

[314174 rows x 5 columns]

In [11]:
ans=bowlunder6.groupby('bowl').sum().reset_index().sort_values(by='wickets_earned?',ascending=False)

In [12]:
ans

                bowl  bowlruns  ballfaced  wickets_earned?  false_shot
604   Lasith Malinga      2882       2759               86       631.0
865  Ravindra Jadeja      2986       3376               69       503.0
975  Shakib Al Hasan      2554       2932               65       381.0
696   Mitchell Starc      1661       1621               63       461.0
725   Mohammed Shami      1522       1380               63       393.0
..               ...       ...        ...              ...         ...
375    Greg Thompson         4          1                0         0.0
376  Gregory Strydom        12          4                0         1.0
938   Samiullah Khan        36         33                0         2.0
380  Gurinder Sandhu        61         63                0         5.0
778      Neil Carter        12         10                0         0.0

[1181 rows x 5 columns]

In [13]:
ans['bowl_avg']=ans['bowlruns']/ans['wickets_earned?']
ans['bowl_avg']=round(ans['bowl_avg'],2)
ans['balls_per_wicket']=ans['ballfaced']/ans['wickets_earned?']
ans['balls_per_wicket']=round(ans['balls_per_wicket'],2)
ans['false_shot%']=ans['false_shot']*100/ans['ballfaced']
ans['false_shot%']=round(ans['false_shot%'],2)
ans['econ']=ans['bowlruns']*6/ans['ballfaced']
ans['econ']=round(ans['econ'],2)

In [14]:
ans=ans.sort_values(by='econ',ascending=True)

In [15]:
ans=ans.rename(mapper={'bowl':'bowler','bowlruns':'runs_conceded','ballfaced':'balls_bowled','wickets_earned?':'wickets'},axis=1)
ans=ans.drop(columns=['false_shot'])

In [16]:
totalballs=pd.read_csv('totalballs.csv')
totalballs.drop('Unnamed: 0',axis=1,inplace=True)
totalballs=totalballs.rename(mapper={'bowl':'bowler'},axis=1)
final=pd.merge(ans,totalballs,on='bowler')
final['%career_balls']=final['balls_bowled']*100/final['ballfaced']
final['%career_balls']=round(final['%career_balls'],2)
final.drop(columns=['ballfaced'],axis=1,inplace=True)

In [17]:
final.to_csv('bowl_under6.csv')