In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("C:/Users/Vijay/OneDrive/Documents/Others/odi_bbb_2005_2024.csv")

C:\Users\Vijay\AppData\Local\Temp\ipykernel_10340\990751168.py:1: DtypeWarning: Columns (40,51,52) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset=pd.read_csv("C:/Users/Vijay/OneDrive/Documents/Others/odi_bbb_2005_2024.csv")

In [3]:
dataset

,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,ball_id,...,bat_out,wagonX,wagonY,wagonZone,line,length,shot,control,predscore,wprob
0,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,1,0.01,...,True,0,0,0,NaN,NaN,NO_SHOT,1.0,-1,-1.00
1,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,2,0.02,...,True,219,190,3,NaN,NaN,FORWARD_DEFENCE,1.0,-1,-1.00
2,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,3,0.03,...,True,0,0,0,NaN,NaN,NO_SHOT,1.0,-1,-1.00
3,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,4,0.04,...,True,228,198,3,NaN,NaN,OFF_SIDE_DRIVE_ON_FRONT_FOOT,1.0,-1,-1.00
4,226390,1,Upul Tharanga,50747,Sri Lanka,Kyle Mills,37740,New Zealand,3,2.03,...,True,212,179,3,NaN,NaN,BACK_DEFENCE,1.0,-1,-1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322268,1412540,2,Janith Liyanage,681681,Sri Lanka,Ryan Burl,495964,Zimbabwe,5,35.05,...,True,0,0,0,DOWN_LEG,GOOD_LENGTH,LEG_GLANCE,NaN,216,59.63
1322269,1412540,2,Janith Liyanage,681681,Sri Lanka,Ryan Burl,495964,Zimbabwe,6,35.06,...,True,222,320,4,OUTSIDE_OFFSTUMP,GOOD_LENGTH,ON_DRIVE,1.0,218,63.29
1322270,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,2,35.02,...,True,6,259,6,WIDE_OUTSIDE_OFFSTUMP,FULL_TOSS,COVER_DRIVE,1.0,208,45.23
1322271,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,3,35.03,...,True,37,196,6,OUTSIDE_OFFSTUMP,GOOD_LENGTH,COVER_DRIVE,1.0,210,49.34
1322272,1412540,2,Maheesh Theekshana,1138316,Sri Lanka,Ryan Burl,495964,Zimbabwe,7,35.07,...,True,309,127,2,ON_THE_STUMPS,GOOD_LENGTH,FLICK,1.0,220,66.75

In [4]:
bowlunder6=dataset[(dataset['inns_rr']>7)]

In [5]:
bowlunder6

,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,ball_id,...,bat_out,wagonX,wagonY,wagonZone,line,length,shot,control,predscore,wprob
820,226353,2,Salman Butt,42683,Pakistan,Andrew Flintoff,12856,England,3,0.03,...,True,333,144,2,NaN,NaN,CUT_SHOT_ON_FRONT_FOOT,1.0,-1,-1.00
836,226353,2,Kamran Akmal,41028,Pakistan,Andrew Flintoff,12856,England,6,0.06,...,True,0,0,0,NaN,NaN,LEG_GLANCE,0.0,-1,-1.00
873,226353,2,Salman Butt,42683,Pakistan,Steve Harmison,14054,England,4,1.04,...,True,311,245,3,NaN,NaN,OFF_SIDE_DRIVE_ON_FRONT_FOOT,1.0,-1,-1.00
1102,226354,1,Kamran Akmal,41028,Pakistan,Andrew Flintoff,12856,England,4,0.04,...,True,0,0,0,NaN,NaN,NO_SHOT,1.0,-1,-1.00
1103,226354,1,Kamran Akmal,41028,Pakistan,Andrew Flintoff,12856,England,5,0.05,...,True,142,199,6,NaN,NaN,FORWARD_DEFENCE,1.0,-1,-1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322036,1412540,2,Kusal Mendis,629074,Sri Lanka,Blessing Muzarabani,827051,Zimbabwe,4,1.04,...,True,338,160,2,ON_THE_STUMPS,GOOD_LENGTH,PULL,1.0,269,75.97
1322037,1412540,2,Kusal Mendis,629074,Sri Lanka,Blessing Muzarabani,827051,Zimbabwe,5,1.05,...,True,217,183,3,ON_THE_STUMPS,SHORT_OF_A_GOOD_LENGTH,FLICK,1.0,269,76.92
1322038,1412540,2,Kusal Mendis,629074,Sri Lanka,Blessing Muzarabani,827051,Zimbabwe,6,1.06,...,True,111,150,7,OUTSIDE_OFFSTUMP,SHORT_OF_A_GOOD_LENGTH,SQUARE_DRIVE,1.0,268,77.25
1322039,1412540,2,Kusal Mendis,629074,Sri Lanka,Blessing Muzarabani,827051,Zimbabwe,7,1.07,...,True,170,176,5,OUTSIDE_OFFSTUMP,SHORT_OF_A_GOOD_LENGTH,CUT_SHOT,0.0,267,82.95
1322040,1412540,2,Kusal Mendis,629074,Sri Lanka,Blessing Muzarabani,827051,Zimbabwe,8,1.08,...,True,189,196,4,ON_THE_STUMPS,SHORT_OF_A_GOOD_LENGTH,DEFENDED,1.0,267,85.82

In [6]:
bowlunder6.columns

Index(['p_match', 'inns', 'bat', 'p_bat', 'team_bat', 'bowl', 'p_bowl',
       'team_bowl', 'ball', 'ball_id', 'outcome', 'score', 'out', 'dismissal',
       'p_out', 'over', 'noball', 'wide', 'byes', 'legbyes', 'cur_bat_runs',
       'cur_bat_bf', 'cur_bowl_ovr', 'cur_bowl_wkts', 'cur_bowl_runs',
       'inns_runs', 'inns_wkts', 'inns_balls', 'inns_runs_rem',
       'inns_balls_rem', 'inns_rr', 'inns_rrr', 'target', 'max_balls', 'date',
       'year', 'ground', 'country', 'winner', 'toss', 'competition',
       'bat_hand', 'bowl_style', 'bowl_kind', 'batruns', 'ballfaced',
       'bowlruns', 'bat_out', 'wagonX', 'wagonY', 'wagonZone', 'line',
       'length', 'shot', 'control', 'predscore', 'wprob'],
      dtype='object')

In [7]:
dataset['dismissal'].value_counts()

caught                    21472
bowled                     6792
leg before wicket          4100
run out                    2712
stumped                     913
retired not out (hurt)       45
hit wicket                   33
obstructing the field         6
not out                       5
handled the ball              1
Name: dismissal, dtype: int64

In [8]:
bowldis=['caught','bowled','leg before wicket','stumped','hit wicket']
bowlunder6['wickets_earned?']=bowlunder6['dismissal'].apply(lambda x: 1 if x in bowldis else 0)

C:\Users\Vijay\AppData\Local\Temp\ipykernel_10340\289537146.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bowlunder6['wickets_earned?']=bowlunder6['dismissal'].apply(lambda x: 1 if x in bowldis else 0)

In [9]:
bowlunder6['false_shot']=1-bowlunder6['control']
req_cols=['bowl','bowlruns','ballfaced','wickets_earned?','false_shot']
bowlunder6=bowlunder6[req_cols]

C:\Users\Vijay\AppData\Local\Temp\ipykernel_10340\4127860961.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bowlunder6['false_shot']=1-bowlunder6['control']

In [10]:
bowlunder6

                        bowl  bowlruns  ballfaced  wickets_earned?  false_shot
820          Andrew Flintoff         4          1                0         0.0
836          Andrew Flintoff         1          0                0         1.0
873           Steve Harmison         4          1                0         0.0
1102         Andrew Flintoff         5          0                0         0.0
1103         Andrew Flintoff         0          1                0         0.0
...                      ...       ...        ...              ...         ...
1322036  Blessing Muzarabani         2          1                0         0.0
1322037  Blessing Muzarabani         0          1                0         0.0
1322038  Blessing Muzarabani         0          1                0         0.0
1322039  Blessing Muzarabani         0          1                0         1.0
1322040  Blessing Muzarabani         0          1                0         0.0

[60064 rows x 5 columns]

In [11]:
ans=bowlunder6.groupby('bowl').sum().reset_index().sort_values(by='wickets_earned?',ascending=False)

In [12]:
ans

                 bowl  bowlruns  ballfaced  wickets_earned?  false_shot
18        Adil Rashid       521        382               19        61.0
802       Trent Boult       557        460               17       128.0
453    Lasith Malinga      1055        669               16       165.0
526         Moeen Ali       328        278               13        37.0
594  Nuwan Kulasekara       799        536               12       110.0
..                ...       ...        ...              ...         ...
380   Jonathan Carter         4          2                0         0.0
378         John Reva        11          6                0         0.0
377       John Nyumbu         3          5                0         0.0
375       John Kariko         5          6                0         0.0
852    Zulfiqar Babar        10          5                0         0.0

[853 rows x 5 columns]

In [13]:
ans['bowl_avg']=ans['bowlruns']/ans['wickets_earned?']
ans['bowl_avg']=round(ans['bowl_avg'],2)
ans['balls_per_wicket']=ans['ballfaced']/ans['wickets_earned?']
ans['balls_per_wicket']=round(ans['balls_per_wicket'],2)
ans['false_shot%']=ans['false_shot']*100/ans['ballfaced']
ans['false_shot%']=round(ans['false_shot%'],2)
ans['econ']=ans['bowlruns']*6/ans['ballfaced']
ans['econ']=round(ans['econ'],2)

In [14]:
ans=ans.sort_values(by='econ',ascending=True)

In [15]:
ans=ans.rename(mapper={'bowl':'bowler','bowlruns':'runs_conceded','ballfaced':'balls_bowled','wickets_earned?':'wickets'},axis=1)
ans=ans.drop(columns=['false_shot'])

In [16]:
ans.to_csv('bowl_above7.csv')